<!doctype html>
<html lang="en">

<head>
    <title><%= title %> </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill9/dist/polyfill.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Action 1</a>
                        <a class="dropdown-item" href="#">Action 2</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <style>
        .container .row h2 {
            text-align: center;
        }

        .form-control:focus {
            box-shadow: none;
        }

        .form-control-underlined {
            border-width: 0;
            border-bottom-width: 1px;
            border-radius: 0;
            padding-left: 0;
        }

        .form-control::placeholder {
            font-size: 0.95rem;
            color: #aaa;
            font-style: italic;
        }
    </style>

    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h2>Quản lý tài khoản Thành viên</h2>
            </div>
        </div>

        <div class="row mt-4">
            <div class="navbar-left col-sm-12 col-md-6 mt-sm-1">
                <a href="" class="btn btn-outline-danger delete_all"
                    data-url="http://localhost:3000/admin/delete-all-member">Delete all
                    select</a>
                <!-- <a href="" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalAddUser">Add admin</a> -->
                <a href="" class="btn btn-outline-success" data-toggle="modal" data-target="#modalAddMemberExcel">Add
                    member form excel</a>
            </div>

            <div class="col-sm-12 col-md-6 mt-sm-1">
                <form action="" method="get">
                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                        <div class="input-group">
                            <input type="search" placeholder="What're you searching for?"
                                aria-describedby="button-addon1" class="form-control border-0 bg-light">
                            <div class="input-group-append">
                                <button id="button-addon1" type="submit" class="btn btn-link text-primary">
                                    <i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <style>
            /* .table-customize {
                margin: 0;
                border-radius: 4px;
                overflow: hidden;
                box-shadow: 0 0 0 1px #ccc inset;
            }

            .table-customize>thead>tr {
                background-color: #535353;
                border-radius: 3px 3px 0 0;
            }

            .table-customize>thead>tr>th {
                color: #fff;
                border-bottom: none;
                padding: 10px 14px;
                font-size: 14px;
                font-weight: 400;
                border: 1px solid rgba(0, 0, 0, 0.2);
            }

            .table-customize>thead>tr>th:first-child {
                border-radius: 3px 0 0 0;
                border-top: 1px solid rgba(0, 0, 0, 0.2);
            }

            .table-customize>thead>tr>th:last-child {
                border-radius: 0 3px 0 0;
            }

            .table-customize>tbody>tr>td {
                vertical-align: middle;
                padding: 15px 14px;
                color: #ccc;
                font-size: 14px;
                color: #000;
                border: 1px solid #ccc;
            }

            .table-customize>tbody>tr>td a {
                text-decoration: none;
            }

            .table-order>tbody>tr:nth-child(-n + 3)>td:first-child {
                position: relative;
                font-size: 10px;
                font-weight: 700;
            }

            .table-order>tbody>tr:nth-child(-n + 3)>td:first-child span {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: 14px;
            }

            .table-order>tbody>tr td:first-child,
            .table-order>tbody>tr th:first-child {
                text-align: center;
            } */

            @media (min-width: 320px) and (max-width: 767px) {

                .table-customize,
                .table-customize thead,
                .table-customize tbody,
                .table-customize th,
                .table-customize td,
                .table-customize tr {
                    display: block;
                }

                .table-customize>thead>tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }

                .table-customize>tbody>tr {
                    border-top: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                }

                .table-customize>tbody>tr:first-child {
                    border-radius: 3px 3px 0 0;
                    border-top: none;
                }

                .table-customize>tbody>tr:last-child {
                    border-radius: 0 0 3px 3px;
                    border-bottom: none;
                }

                .table-customize>tbody>tr td {
                    border: none;
                    border-bottom: 1px solid #ccc;
                    position: relative;
                    padding-left: 40% !important;
                    width: 100%;
                    overflow: hidden;
                }

                .table-customize>tbody>tr td:before {
                    content: attr(data-title);
                    position: absolute;
                    top: 15px;
                    left: 14px;
                    width: 30%;
                    padding-right: 10px;
                    white-space: nowrap;
                    font-size: 14px;
                }

                .table-customize>tbody>tr td:first-child {
                    text-align: left;
                }

                .table-customize.table-order>tbody>tr:nth-child(-n + 3)>td:first-child {
                    padding: 25px 0 25px 30% !important;
                    background-position: left 32% center;
                }

                .table-customize.table-order>tbody>tr:nth-child(-n + 3)>td:first-child span {
                    left: 32%;
                }
            }
        </style>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-hover table-inverse table-customize">
                    <thead class="thead-dark">
                        <tr>
                            <th><input type="checkbox" id="master"></th>
                            <th>STT</th>
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Image</th>
                            <th>Địa chỉ</th>
                            <th colspan="2">Tùy chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var stt = 0; %>
                        <% members.forEach(member => { %>
                        <% stt++; %>
                        <tr>
                            <td scope="row" data-title="Select"><input type="checkbox" class="sub_chk"
                                    data-id="<%= member.id %> "></td>
                            <td data-title="STT"><%= stt %> </td>
                            <td data-title="Full Name"><%= member.name %> </td>
                            <td data-title="Email"><%= member.email %> </td>
                            <td data-title="Phone"><%= member.phone %></td>
                            <td data-title="Image">
                                <img style="width: 70px; height:70px;" src="/upload/image_admin/<%= member.image %> "
                                    class="img-responsive" alt="Image">
                            </td>
                            <td data-title="Address"><%= member.address %> </td>
                            <td data-title="Option">
                                <a href="" class="btn btn-success" title="sửa" data-toggle="modal" data-memberId="<%= member.id %> " data-memberName="<%= member.name %> " data-target="#modalEdit" >
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td data-title="Option">
                                <a href="/admin/delete-member/<%= member.id %> " class="btn btn-danger"
                                    data-toggle="tooltip" title="xóa"
                                    onclick="return xacnhanxoa('Ban co chac chan xoa?')">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="navbar-right">

            </div>
        </div>

        <!-- Modal add member from excel file-->
        <div class="modal fade" id="modalAddMemberExcel" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Member From excel file</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/admin/add-member-excel" enctype="multipart/form-data" method="POST" role="form"
                        data-toggle="validator" novalidate="true">
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="form-group">
                                    <label for="memberFileExcel">Chọn file</label>
                                    <input type="file" name="memberFileExcel" id="memberFileExcel" class="form-control"
                                        placeholder="" aria-describedby="helpId" data-error="Vui lòng chọn file"
                                        required="required">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-outline-secondary"><i class="fa fa-refresh"
                                    aria-hidden="true"></i></button>
                            <button type="submit" class="btn btn-success">Xác nhận</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- Modal edit member -->
        <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Chỉnh sửa thông tin thành viên</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="" enctype="multipart/form-data" method="POST" role="form"
                    data-toggle="validator" novalidate="true">
                    
                        <div class="modal-body">
                            <div class="container">
                                <input name="idMember" id="idMember" type="hidden" value="">        
                                <div class="form-group">
                                    <label for="">Họ và tên</label>
                                    <input type="text" name="textName" id="textName" class="form-control" placeholder="" value=""
                                        aria-describedby="helpId" data-error="Vui lòng nhập tên admin"
                                        required="required">
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group">
                                    <label for="textEmail">Email</label>
                                    <input type="text" name="textEmail" id="textEmail" class="form-control"
                                        placeholder="" aria-describedby="helpId"
                                        data-error="Vui lòng nhập địa chỉ email" required="required">
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group">
                                    <label for="textPhone">Số điện thoại</label>
                                    <input type="text" name="textPhone" id="textPhone" class="form-control"
                                        placeholder="" aria-describedby="helpId"
                                        data-error="Vui lòng nhập số điện thoại" required="required">
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group">
                                    <label for="">Địa chỉ</label>
                                    <textarea name="textAddress" id="textAddress" cols="63" rows="3"
                                        data-error="Vui lòng nhập địa chỉ" required="required"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group">
                                    <label for="TextImage">Ảnh</label>
                                    <input type="file" name="TextImage" id="TextImage" class="form-control"
                                        placeholder="" aria-describedby="helpId" data-error="Vui lòng thêm ảnh admin"
                                        required="required">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-success">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- <script>
            $('#exampleModal').on('show.bs.modal', event => {
                var button = $(event.relatedTarget);
                var modal = $(this);
                // Use above variables to manipulate the DOM
                
            });
        </script> -->

        <!-- Modal -->
        <!-- <div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="text-align: center; color: red;">Thêm tài khoản admin</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/admin/add-admin" enctype="multipart/form-data" method="POST" role="form"
                        data-toggle="validator" novalidate="true">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="">Họ và tên</label>
                                <input type="text" name="textName" id="textName" class="form-control" placeholder=""
                                    aria-describedby="helpId" data-error="Vui lòng nhập tên admin" required="required">
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                <label for="textEmail">Email</label>
                                <input type="text" name="textEmail" id="textEmail" class="form-control" placeholder=""
                                    aria-describedby="helpId" data-error="Vui lòng nhập địa chỉ email"
                                    required="required">
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                <h5>Mật khẩu:</h5>
                                <div class="input-group input-file">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-info" id="button_create_pass"
                                            data-toggle="tooltip" title="Tạo mật khẩu đăng nhập">
                                            <i class="fa fa-lock"></i>
                                        </button>
                                    </span>
                                    <input type="text" minlength="8" maxlength="8" class="form-control"
                                        id="txt_mat_khau" name="txt_mat_khau" required="required"
                                        data-error="Vui lòng tạo mật khẩu">
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                <label for="textPhone">Số điện thoại</label>
                                <input type="text" name="textPhone" id="textPhone" class="form-control" placeholder=""
                                    aria-describedby="helpId" data-error="Vui lòng nhập số điện thoại"
                                    required="required">
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                <label for="">Địa chỉ</label>
                                <textarea name="textAddress" id="textAddress" cols="63" rows="3"
                                    data-error="Vui lòng nhập địa chỉ" required="required"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                <label for="TextImage">Ảnh</label>
                                <input type="file" name="TextImage" id="TextImage" class="form-control" placeholder=""
                                    aria-describedby="helpId" data-error="Vui lòng thêm ảnh admin" required="required">
                                <div class="help-block with-errors"></div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-outline-secondary"><i class="fa fa-refresh"
                                    aria-hidden="true"></i></button>
                            <button type="submit" class="btn btn-success">Thêm Admin</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
    </div>

    <script>
        $('#modalEdit').on('show.bs.modal', event => {
            var button = $(event.relatedTarget);
            var member_id = button.data('memberId');
            var memberName = button.data('memberName');
            modal.find('.modal-body #idMember').val(member_id);
            modal.find('.modal-body #textName').val(memberName);
            // Use above variables to manipulate the DOM

        });
    </script>

    <!-- script modal -->
    <script>
        $('#modalAddUser').on('show.bs.modal', function (event) {

            // var button = $(event.relatedTarget);
            // var user_id = button.data('userid')

            // modal.find('.modal-body #user_id').val(user_id);
        });
    </script>

    <% if (messages.deleteAdminSuccess) { %>
    <script>
        Swal.fire({
            title: 'Bạn có chắc xóa?',
            text: "Thành viên sẽ bị xóa vĩnh viễn!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                Swal.fire(
                    'Deleted!',
                    'Đã xóa tài thành viên.',
                    'success'
                )
            }
        })
    </script>
    <% } %>

    <% if (messages.addProductExcelSuccess) { %>
    <script type="text/javascript">
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Đã thêm thành viên từ file excel thành công',
            showConfirmButton: false,
            timer: 2000
        });
                // location.href = '{{ url('admin/list_medicine_prescription_equel') }}';
    </script>
    <% } %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {

            $('#master').on('click', function (e) {
                if ($(this).is(':checked', true)) {
                    $(".sub_chk").prop('checked', true);
                } else {
                    $(".sub_chk").prop('checked', false);
                }
            });

            $('.delete_all').on('click', function (e) {
                var allVals = [];
                $(".sub_chk:checked").each(function () {
                    allVals.push($(this).attr('data-id'));
                });

                if (allVals.length <= 0) {
                    alert("Vui lòng chọn thành viên cần xóa");
                } else {
                    var check = confirm("Bạn có chắc xóa không?");
                    if (check == true) {
                        var join_selected_values = allVals.join(",");

                        $.ajax({
                            url: 'http://localhost:3000/admin/delete-all-member',
                            type: 'GET',
                            headers: { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') },
                            data: 'ids=' + join_selected_values,
                            dataType: 'text',
                            success: function (data) {
                                $(".sub_chk:checked").each(function () {
                                    $(this).parents("tr").remove();
                                });
                                alert('Đã xóa tất cả các tài khoản được chọn');
                            }
                        });

                        $.each(allVals, function (index, value) {
                            $('table tr').filter("[data-row-id='" + value + "']").remove();
                        });
                    }
                }
            });


            $('[data-toggle=confirmation]').confirmation({
                rootSelector: '[data-toggle=confirmation]',
                onConfirm: function (event, element) {
                    element.trigger('confirm');
                }
            });

            // $(document).on('confirm', function (e) {
            //     var ele = e.target;
            //     e.preventDefault();

            //     $.ajax({
            //         url: "/admin/delete-all-member",
            //         type: 'GET',
            //         headers: { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') },
            //         success: function (data) {
            //             if (data['success']) {
            //                 $("#" + data['tr']).slideUp("slow");
            //             } else if (data['error']) {
            //                 alert(data['error']);
            //             } else {
            //                 alert('Rất tiếc có lỗi xảy ra!');
            //             }
            //         },
            //         error: function (data) {
            //             alert(data.responseText);
            //         }
            //     });


            //     return false;
            // });

        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script>

        function Test_numberphone() {
            var vnf_regex = /((09|03|07|08|05)+([0-9]{8})\b)/g;
            var mobile = $('#textPhone').val();
            if (mobile !== '') {
                if (vnf_regex.test(mobile) == false) {
                    alert('Số điện thoại không đúng định dạng. Vui lòng nhập lại');
                }
            }
        }

        // Tạo tài mật khẩu đăng nhập
        function random_password_generate(max, min) {
            var UsernameChars = "0123456789QWERTYUIOPASDFGHJKLZXCVBNMqwertyuiopasdfghjklzxcvbnm!@#$%&*";
            var randUNLen = Math.floor(Math.random() * (max - min + 1)) + min;
            var randUsername = Array(randUNLen).fill(UsernameChars).map(function (x) {
                return x[Math.floor(Math.random() * x.length)]
            }).join('');
            return randUsername;
        }

        document.getElementById("button_create_pass").addEventListener("click", function () {
            random_username = random_password_generate(8, 8);
            document.getElementById("txt_mat_khau").value = random_username;
        });

        function check_delete() {
            var check = confirm("Bạn chắc chắn xóa?");
            if (check == true) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Your work has been saved',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        }

        function xacnhanxoa(msg) {
            if (window.confirm(msg)) {
                return true;
            }
            return false;
        }

    </script>
</body>

</html>